<div class="row">
  <div class="col-md-12">
    <h3 class="question-title"><%= @question.title %></h3>
    <p class="question-description"><%= @question.description %></p>
    <p>Asked by: User</p>

    <p><%= link_to "Edit", edit_question_path(@question) %></p>
    <p><%= link_to "Delete", question_path(@question), method: :delete, data: { confirm: 'Are you Sure?'}%></p>
    <div>
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
